* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  background: url("background.jpeg") no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  overflow: auto;
}

.card {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 100px 70px 70px;
  grid-template-areas: "image" "text" "button";
  margin: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: rgba(255, 255, 255, 8);
  border-radius: 20px;
  box-shadow: 5px 5px 15px black;
  text-align: center;
  cursor: pointer;
  transition: .5% ease;
}

.card-image {
  grid-area: image;
  margin-top: 10px;
}

.card .one {
  background: url("/img/bijak-nobg.png") no-repeat;
  background-size: contain;
  background-position: center;
}

.card .two {
  background: url("/img/bucin-nobg.png") no-repeat;
  background-size: contain;
  background-position: center;
}

.card .three {
  background: url("/img/fakta-nobg.png") no-repeat;
  background-size: contain;
  background-position: center;
}

.card-text {
  grid-area: text;
  margin: 20px;
}

.card-text .name {
  color: black;
  font-weight: bold;
  font-size: 1.4rem;
  margin-top: 10%;
  text-transform: uppercase;
}

.card-text h2 {
  margin-top: 10%;
  font-size: 28px;
}

.card-text p {
  color: rgb(68, 68, 68);
  font-size: 15px;
  font-weight: bold;
  margin-top: 10%;
}

.card-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}

.card-button-one {
  background: black;
}

.card-button-two {
  background: black;
}

.card-button-three {
  background: black;
}

.card-button .button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  padding: 10px;
  color: white;
}

.card-button button {
  padding: 10px 30px;
  outline: none;
  border: none;
  background: white;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 5px 5px 15px black;
}

.card-button button:hover {
  background: yellow;
} 

.card:hover {
  transform: scale(1.2);
  box-shadow: 5px 5px 15px black;
}

footer {
  text-align: center;
  position: fixed;
  color: white;
  width: 100%;
  height: 50px;
/* background: #333;*/
  padding: 50px;
  bottom: 0px;
  font-family: Times New Roman;
  opacity: 0,5;
  filter: alpha(opacity=50);
}

 footer a {
   text-decoration: none;
   color: red;
}
